
*{align-items: center;
margin-left: 8%;}

#cla{
 align-items: center;
  margin-left: 25%;
  
}

h1{
  
  color: rgba(243, 77, 77, 0.329);
}

h2{
  margin-top: -100px;
}
#invalid1{
  color: red;
  margin-top: -20px;
  margin-bottom: 20px;
}